@import "reset.css";
@import "awesome-buttons.css";

body {
  font-family: 'Lucida Grande', sans-serif;
  color: #333;
}

a:link, a:visited, a:active {
  color: #00AAE2;
}

a:hover {
  color: #00BFFF;
}

/* -------- #side -------- */

#side {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  padding: 16px;
  color: #999;
  text-align: right;
  z-index: 10000;
}

#side ul {
  padding-left: 8px;
}

#side li {
  margin: 4px 0;
}

#side h1 {
  font-size: 160%;
  margin-bottom: 12px;
}

#side h2 {
  color: #666;
  margin: 12px 0;
  font-size: 140%;
}

form#go {
  display: inline-block;
}

form#go input[type=text] {
  border: solid 1px;
  border-color: #64DBFF;
  background-color: #B3EDFF;
  font-size: 20px;
  width: 160px;
  vertical-align: middle;
}

#user-menu {
  margin: 12px 0;
  font-size: 80%;
}

#user-menu img {
  vertical-align: middle;
  margin: 0 2px;
}

/* -------- #content -------- */

#content {
  position: relative;
}

#content h2 {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 300%;
  background-color: #FFF;
  color: #CCC;
  z-index: 1000;
  opacity: 0.9;
}

/* -------- #chat -------- */

#chat {
  padding: 0 12px;
  margin-top: 60px;
  margin-right: 300px;
  position: relative;
}

/* -------- chat -------- */

textarea#shout-text {
  width: 80%;
  height: 40px;
  margin: 8px 0;
  border: solid 1px;
  border-color: #666;
  vertical-align: middle;
}

input[type=submit]#shout-button {
  padding: 0;
  margin: 0;
}

/* -------- shout -------- */

li.shout {
  position: relative;
  min-height: 2em;
  border-bottom: dashed 1px #DDD;
  padding: 4px 0;
}

li.shout .user-image-link {
  position: absolute;
  top: 4px;
  left: 4px;
}

li.shout .shout-body {
  margin-left: 34px;
  line-height: 1.5em;
}

li.shout .user-link {
  font-weight: bold;
}

/* -------- #footer -------- */

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #AAA;
  color: #FFF;
  font-size: 86%;
  padding: 6px 12px;
}

#footer a {
  color: #FFF;
}

/* -------- effect -------- */

#shout-form, #side, #footer {
  opacity: 0.6;
}

#shout-form:hover, #side:hover, #footer:hover {
  opacity: 0.98;
}

/* -------- xxxxx -------- */
