@import "reset.css";
@import "awesome-buttons.css";

body {
  font-family: 'Lucida Grande', sans-serif;
  color: #333;
}

a:link, a:visited, a:active {
  color: #0EA2CF;
}

a:hover {
  color: #1BB1DF;
}

/* -------- #side -------- */

#side {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  padding: 4px 8px;
  background-color: #9CE8FF;
  color: #FFF;
  text-align: right;
  z-index: 1000;
  font-size: 86%;
}

#side ul {
  padding-left: 8px;
}

#side li {
  margin: 4px 0;
}

#side h1 {
  font-size: 180%;
  margin: 12px 0;
}

#side h2 {
  color: #666;
  margin: 20px 0 12px 0;
  font-size: 140%;
}

form.go input[type=text] {
  border: solid 1px;
  color: #666;
  border-color: #64DBFF;
  background-color: #DBF7FF;
  font-size: 20px;
  width: 160px;
  vertical-align: middle;
  margin: 8px 0;
}

/* -------- #user-menu -------- */

#user-menu {
  margin: 12px 0;
}

#user-menu img {
  vertical-align: middle;
  margin: 0 2px;
}

/* -------- #footer -------- */

#footer {
/*  position: fixed;
  right: 0;
  bottom: 0;
  width: 282px;
  z-index: 10000;
  background-color: #AAA;
  color: #FFF;
  font-size: 86%;
  padding: 0 10px;
*/
  margin-top: 30px;
  text-align: right;
}

#footer p {
  margin: 8px 0;
}

#footer a {
/*  color: #FFF;*/
}

#footer #powered-by, #footer #powered-by a {
/*  color: #666;*/
}

/* -------- #content -------- */

#content {
  margin-right: 286px;
  padding: 12px;
}

#content h2.chat-name {
  position: fixed;
  top: 24px;
  right: 270px;
  padding: 12px 24px 12px 12px;
  font-size: 300%;
  background-color: #CCC;
  color: #FFF;
  z-index: 2000;
}

#content h3 {
  margin: 8px 0;
  font-size: 200%;
  color: #DDD;
  text-align: right;
  border-bottom: solid 4px #EEE;
}

/* -------- #chat -------- */

#chat {
  margin-bottom: 90px;
}

/* -------- #chat #shout-form -------- */

#shout-form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 12px 8px;
  opacity: 0.8;
}

textarea#shout-text {
  font-size: 110%;
  width: 50%;
  height: 60px;
  border: solid 1px;
  border-color: #666;
  vertical-align: middle;
}

input[type=submit]#shout-button {
  padding: 0;
  margin: 0;
}

/* -------- shout -------- */

li.shout {
  position: relative;
  min-height: 2em;
  border-bottom: dashed 1px #DDD;
  padding: 4px 0;
}

li.shout .user-image-link {
  position: absolute;
  top: 4px;
  left: 4px;
}

li.shout .shout-body {
  margin-left: 34px;
  line-height: 1.5em;
}

li.shout .user-link {
  font-weight: bold;
}

li.shout .chat-name {
  color: #AAA;
  font-weight: bold;
}

li.shout .user-image {
  vertical-align: middle;
}

/* -------- #top-page -------- */

#top-page {
  width: 900px;
  margin: 0 auto;
}

#main-image {
  margin: 10px 0;
}

/* -------- #go-to-chat -------- */

#go-to-chat {
  margin: 60px 0;
  padding: 10px 0;
  color: #999;
  text-align: center;
  font-size: 32px;
}

#go-to-chat form {
  display: inline-block;
  margin: 0 16px;
}

#go-to-chat form.go input[type=text] {
  font-size: 32px;
  width: 200px;
  background-color: transparent;
}

/* -------- effect -------- */

#content h2 {
  opacity: 0.8;
/*  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;*/
}

#side {
  opacity: 0.8;
/*  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;*/
}

/*#side:hover, #footer:hover, #content h2:hover {
  opacity: 0.9;
}*/

/* -------- xxxxx -------- */
