{% extends "layout.html" %}
{% block body %}
  <h2>{{ chat.name }}</h2>

  <div id="chat">
    <ul id="shouts">
    </ul>

    <form id="shout-form">
      <textarea id="shout-text"></textarea>
      <input type="submit" id="shout-button" value="shout!" class="awesome" />
    </form>

    <!-- Template content --> 
  	<textarea id="template" style="display:none"> 
  		{{'{#foreach $T.shouts as shout}'}}
    	  <li class="shout">
          <a href="http://twitter.com/{{'{ $T.shout.user_name }'}}" class="user-image-link">
            <img src="http://img.tweetimag.es/i/{{'{ $T.shout.user_name }'}}_m" alt="{{'{ $T.shout.user_name }'}}" class="user-image" />
          </a>
          <p class="shout-body">
            <a href="http://twitter.com/{{'{ $T.shout.user_name }'}}" class="user-link">{{'{ $T.shout.user_name }'}}</a>
            <span class="text">{{'{ $T.shout.text }'}}</span>
          </p>
    	  </li>
  		{{'{#/for}'}}
  	</textarea>

    <div id="result" style="display: none;"></div>
  </div>

  <script type="text/javascript">
    $(function() {

      $.insertShout = function(data) {
        console.log(data);
        // attach the template
        $("#result").setTemplateElement("template");
        // process the template
        $("#result").processTemplate(data);
        $("#shouts").append($("#result").html());
        $('html,body').animate({ scrollTop: 100000 });
      }

      var server = new Pusher('{{ g.config.key }}', '{{ chat.key() }}');
      server.bind('shout', function(data) {
        $.insertShout({shouts: [data]});
      });

      $('#shout-form').submit(function() {
        // もうちょっと気の利いたエフェクトを入れる
        var text = $('#shout-text').val();
        $('#shout-text').val('');
        $.ajax({
          type: "POST",
          url: "{{ url_for('chat', name=chat.name) }}",
          data: "text=" + text,
          success: function(msg){
            $('#shout-text').focus();
            $('html,body').animate({ scrollTop: 100000 });
          }
        });
        $('#shout-text').focus();
        return false;
      });

      var data = {};
      data.shouts = {{ shouts|tojson|safe }};
      $.insertShout(data);

      $('#shout-text').focus();
    });
  </script>
{% endblock %}
